.sidebar__container {
  padding: 25px 10px;
  flex: 0.3;
}

.sidebar__row__container {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  cursor: pointer;

  &:hover {
    background-color: lightgray;
    border-radius: 10px;
  }

  h4 {
    margin-left: 20px;
    font-weight: 600;
  }

  img {
    border-radius: 50%;
    width: 30px;
  }
}
