.login__container {
  display: grid;
  place-items: center;
  height: 100vh;

  button {
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;

    &:hover {
      background-color: white;
      color: #2e81f4;
      border: 1px solid #2e81f4;
      transform: scale(1.05);
    }
  }
}

.login__logo {
  display: flex;
  flex-direction: column;

  img {
    object-fit: contain;
    height: 150px;
  }
}
